<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documento</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <form th:action="@{/autor/modificar/__${autor.idAutor}__}" method="post">

        <input hidden th:value="${idAutor}" name="idAutor">

        <div class="d-grid gap-3 col-6 mx-auto"></div>
        <div class="text-center">
            <label class="mb-3 fs-5 fw-bold">Cargar autor</label>
        </div>
        
        </div>
         <div class="d-grid gap-2 col-6 mx-auto mb-3 ">
            <input th:value="${autor.nombre}" type="text" class="form-control" name="nombre" placeholder="nombre del autor">
        </div>


        <div th:if="${error != null}" class="card text-white bg-danger mb-2 mensajeError">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-bug"> Error!</i></h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>

        <div th:if="${exito != null}" class="card text-white bg-success mb-2 mensajeExito">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-check-square-fill"></i> Exito!</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>

        <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn btn-primary" type="submit"><i class="bi bi-database-add"> Modificar</i></button>
            <a href="/autor/lista" class="btn btn-primary btn-icon" role="button">
                <span><i class="bi bi-backspace-fill"></i></span> Volver
              </a>
        </div>


    </form>
  </div>
</body>
</html>